[flake8]
# Ignored errors and warnings
ignore =
    E266,  # Too many leading '#' for block comment
    E722,  # Do not use bare except, specify exception instead
    W503,  # Line breaks should occur after the binary operator
    C901   # Function is too complex

# Maximum allowed line length
max-line-length = 120